= div_for comment, :class => "well#{comment.user.admin ? ' alert alert-info' : ''}" do
  .pull-right
    %i= "Posted #{time_ago_in_words(comment.created_at)} ago by #{comment.user.name}"
  .span1= image_tag "http://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(comment.user.email), :class => "pull-left"
  .span6= comment.message
  .clearfix
