<%= form_for [:manage, @comic], :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :book_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :book_id, @books.map {|b| [b.name, b.id] }, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publish_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :publish_date, :class => 'date datepicker', :"data-date-format" => "yyyy-mm-dd" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sold, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sold, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :style => 'display:none' %>
      <div class="input-append">
        <input class="prettyfile input-large" type="text">
        <a class="btn" onclick="$('input[id=comic_image]').click();">Browse</a>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                manage_comics_path, :class => 'btn btn-danger' %>
  </div>
<% end %>
