- model_class = Comic
.page-header
  %h2=t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt 
    %strong= model_class.human_attribute_name(:book_id)
  %dd= @comic.book.name if @comic.book
  %dt 
    %strong= model_class.human_attribute_name(:name)
  %dd= @comic.name   
  %dt 
    %strong= model_class.human_attribute_name(:description)
  %dd= @comic.description   
  %dt 
    %strong= model_class.human_attribute_name(:publish_date)
  %dd= @comic.publish_date   
  %dt
    %strong= model_class.human_attribute_name(:sold)
  %dd= @comic.sold   
  %dt
    %strong= model_class.human_attribute_name(:image_file_name)
  %dd= @comic.image_file_name   
  %dt
    %strong= model_class.human_attribute_name(:image_content_type)
  %dd= @comic.image_content_type   
  %dt
    %strong= model_class.human_attribute_name(:image_file_size)
  %dd= @comic.image_file_size   
  %dt
    %strong= model_class.human_attribute_name(:image_updated_at)
  %dd= @comic.image_updated_at   

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), manage_comic_path, :class => 'btn'  
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_manage_comic_path(@comic), :class => 'btn btn-info'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), manage_comic_path(@comic), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' 
