%h1 Tags

%br
= link_to 'New Tag', new_manage_tag_path, :class => "icon-plus"
%br
%br

%table.full.table.table-striped
  %tr
    %th Name
    %th
    %th=t '.actions', :default => t("helpers.actions")
  - @tags.each do |tag|
    %tr
      %td= tag.name
      %td= tag.taggings.count
      %td
        = link_to 'Rename', edit_manage_tag_path(tag), :class => 'btn btn-mini btn-info'
        = link_to 'Destroy', [:manage, tag], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
%br
%br
= link_to 'New Tag', new_manage_tag_path, :class => "icon-plus"
%br
