%table.calendar.table-striped.table-condensed
  %thead
    %tr
      %th{ rowspan: 2}= link_to "&laquo;".html_safe, archived_path(@date.year - 1, @date.month, 1)
      %th{ rowspan: 2}= link_to "<".html_safe, archived_path((@date - 1.month).year, (@date - 1.month).month, 1)
      %th{ colspan: 3}= @date.year
      %th{ rowspan: 2}= link_to ">".html_safe, archived_path((@date + 1.month).year, (@date + 1.month).month, 1)
      %th{ rowspan: 2}= link_to "&raquo;".html_safe, archived_path(@date.year + 1, @date.month, 1 )
    %tr
      %th{ colspan: 3}= content_tag :span, (Date::MONTHNAMES[@date.month])
    %tr
      %th S
      %th M
      %th T
      %th W
      %th T
      %th F
      %th S
  %tbody
    - (0..5).each do |r|
      %tr
        - (0..6).each do |c|
          - dt = c + r * 7 - @first_day
          %td{ class: (@comic and dt == @comic.publish_date.day) ? "current" : "" }
            - unless dt > @num_days or dt < 1
              - if @comics_for_month[dt].blank?
                = content_tag :span, dt
              - else
                = link_to dt, archived_path(@date.year, @date.month, dt)
