.page-header
  %h1
    = "#{@comic.book.name} :: " if Settings.uses_books && @comic && @comic.book
    = @comic.name if @comic

.row
  .span2
    = render :partial => "shared/social"
    = render :partial => "shared/ads"

  .span8.comic
    = @comic ? image_tag(@comic.image.url(:original), :title => @comic.name, :class => "shadowed") : image_tag("none.png", :title => "No comic found", :class => "shadowed")
    %br
    %i= @comic.blank? ? "No comic found" : @comic.description
    %br
    %br
    %ul.pager
      %li{ :class => "previous #{@first==@comic ? 'disabled' : '' }" }
        = link_to "&laquo; First".html_safe, archived_comic_path(@first),           :title => "First", :class => "btn btn-large " if @comic
        = link_to "#",                                                              :title => "First", :class => "btn btn-large disabled" unless @comic
      %li{ :class => "#{(@comic && @comic.previous) ? '' : 'disabled' }" }
        = link_to "&larr; Previous".html_safe, archived_comic_path(@comic.previous), :title => "Previous", :class => "btn btn-large " if @comic
        = link_to "#",                                                               :title => "Previous", :class => "btn btn-large disabled" unless @comic
      %li{ :class => "#{(@comic && @comic.next) ? '' : 'disabled' }" }
        = link_to "Next &rarr;".html_safe, archived_comic_path(@comic.next),         :title => "Next", :class => "btn btn-large" if @comic
        = link_to "#",                                                               :title => "Next", :class => "btn btn-large disabled" unless @comic
      %li{ :class => "next #{@latest==@comic ? 'disabled' : '' }" }
        = link_to "Latest &raquo;".html_safe, archived_comic_path(@latest),          :title => "Latest", :class => "btn btn-large " if @comic
        = link_to "#",                                                               :title => "Latest", :class => "btn btn-large disabled" unless @comic
    %br
    - if @comic
      .row
        .span2 &nbsp;
        .span8
          %h2 Comments
          - if signed_in?
            = form_for Comment.new, :url => comment_path(:parent_type => 'Comic', :parent_id => @comic.id), :remote => true do |f|
              = f.text_area :message, :class => "span8", :rows => 4
              %br
              = f.submit "Comment as #{current_user.name}", :class => "btn btn-primary pull-right"
          - else
            = link_to "Sign in", new_session_path("user")
            |
            = link_to "Sign in with Facebook", omniauth_authorize_path("user", "facebook")
          %br
          .clearfix
          #comments= render @comic.comments.reversed
  .span2
    = render :partial => "calendar", :locals => { :date => @date }
    = render :partial => "tags", :locals => { :tags => @comic.tags } if @comic

  .span4 &nbsp;

