<%- model_class = Comic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:publish_date) %></th>
    </tr>
  </thead>
  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td><%= link_to comic.name, comic_path(comic) %></td>
        <td><%= comic.description %></td>
        <td><%= comic.publish_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

