= link_to Settings.site_title, root_path, :class => 'brand'
%ul.nav
  - if Settings.uses_blog
    %li= link_to "Blog", posts_path
  %li= link_to "Archive", archive_path
%ul.nav.pull-right
  %li
    %a Management
  - if signed_in? and current_user.admin
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
        Comics
        %b.caret
      %ul.dropdown-menu
        %li= link_to content_tag(:i, " ", :class => "icon-cog" ) + " Manage", manage_comics_path
        %li= link_to content_tag(:i, " ", :class => "icon-plus" ) + " New", new_manage_comic_path
    - if Settings.uses_books
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
          Books
          %b.caret
        %ul.dropdown-menu
          %li= link_to content_tag(:i, " ", :class => "icon-cog" ) + " Manage", manage_books_path
          %li= link_to content_tag(:i, " ", :class => "icon-plus" ) + " New", new_manage_book_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
        Tags
        %b.caret
      %ul.dropdown-menu
        %li= link_to content_tag(:i, " ", :class => "icon-cog" ) + " Manage", manage_tags_path
        %li= link_to content_tag(:i, " ", :class => "icon-plus" ) + " New tag", new_manage_tag_path
    - if Settings.uses_blog
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
          My blog
          %b.caret
        %ul.dropdown-menu
          %li= link_to content_tag(:i, " ", :class => "icon-cog" ) + " Manage", manage_posts_path
          %li= link_to content_tag(:i, " ", :class => "icon-plus" ) + " New post", new_manage_post_path
  - if signed_in?
    %li.dropdown
      %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown"}
        = current_user.name
        %b.caret
      %ul.dropdown-menu
        - if current_user.admin
          %li= link_to content_tag(:i, " ", :class => "icon-cog" ) + " Settings", manage_settings_path
        %li= link_to content_tag(:i, " ", :class => "icon-user" ) + " View account", profile_path
        %li= link_to content_tag(:i, " ", :class => "icon-edit" ) + " Edit account", edit_profile_path
        %li= link_to content_tag(:i, " ", :class => "icon-off" ) + " Logout", sign_out_path, :method => :delete
  - else
    %li= link_to('Sign up', sign_up_path)
    %li= link_to('Sign in',sign_in_path)
