-#.fb-like-box{:"data-href" => request.original_url, :"data-width" => 292, :"data-show-faces" => "false", :"data-border-color" => "#FFFFFF", :"data-stream" => "false", :"data-header" => "false"}
%ul.unstyled.well
  %li
    = link_to image_tag('fb_share.png'), "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook_app_id}&link=#{archived_url(@comic.publish_date.year, @comic.publish_date.month, @comic.publish_date.day)}&picture=#{@comic.image.url(:thumb)}&name=#{@comic.name}&caption=#{@comic.description}&description=#{@comic.description}&redirect_uri=#{archived_url(@comic.publish_date.year, @comic.publish_date.month, @comic.publish_date.day)}"
    %br
    %br
  %li
    = link_to image_tag('twitter.png'), "http://twitter.com/share?url=#{request.original_url}"
    %br
    %br
  %li
    = link_to(image_tag('feed-icon-28x28.png'), comics_url(:format => :atom))
    %br
    %br
  %li
  - if @comic
    %li
      .fb-like{ :"data-href" => archived_url(@comic.publish_date.year, @comic.publish_date.month, @comic.publish_date.day), :"data-send" => "false", :"data-layout" => "box_count", :"data-width" => "450", :"data-show-faces" => "false", :"data-font" => "arial"}
  - if @post
    %li
      .fb-like{ :"data-href" => archived_blog_url(@post.created_at.year, @post.created_at.month, @post.created_at.day), :"data-send" => "false", :"data-layout" => "box_count", :"data-width" => "450", :"data-show-faces" => "false", :"data-font" => "arial"}
