- if @comic or @post
  - if @comic
    - url = archived_url(@comic.publish_date.year, @comic.publish_date.month, @comic.publish_date.day)
    - rss_url = comics_url(:format => :atom)
  - else
    - url = archived_blog_url(@post.created_at.year, @post.created_at.month, @post.created_at.day)
    - rss_url = posts_url(:format => :atom)
  - esc_url = URI.escape(url)

  %ul.unstyled.well.alert-info
    %li
      = link_to image_tag('fb_share.png'), "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook_app_id}&link=#{esc_url}", :title => "Share this on Facebook"
      %br
      %br
    %li
      = link_to image_tag('twitter.png'), "http://twitter.com/share?url=#{url}", :title => "Tweet this!"
      = link_to(image_tag('feed-icon-28x28.png'), rss_url, :title => "Grab the RSS feed")
      %br
      %br
    %li
      .g-plusone
    %li
      .fb-like{ :"data-href" => esc_url, :"data-send" => "false", :"data-layout" => "box_count", :"data-width" => "450", :"data-show-faces" => "false", :"data-font" => "arial"}
      %br
      %br
    %li= link_to "Permalink", url

