%h1 Listing posts

%br
= link_to 'New Post', new_manage_post_path, :class => "icon-plus"
%br
%br

%table.full.table.table-striped
  %tr
    %th Title
    %th Comments
    %th=t '.actions', :default => t("helpers.actions")
  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.comments.count
      %td
        = link_to 'Show', [:manage, post], :class => 'btn btn-mini'
        = link_to 'Edit', edit_manage_post_path(post), :class => 'btn btn-mini btn-info'
        = link_to 'Destroy', [:manage, post], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
%br
%br
= link_to 'New Post', new_manage_post_path, :class => "icon-plus"
%br
