<%- model_class = Serie -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:comic_count) %></th>

    </tr>
  </thead>
  <tbody>
    <% @series.each do |serie| %>
      <tr>
        <td><%= link_to serie.name, serie_path(serie) %></td>
        <td><%= serie.description %></td>
        <td><%= serie.comic_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
