!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : Settings.site_title
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container= render 'shared/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'shared/messages'
              = yield
    %footer.navbar.navbar-fixed-bottom
      %nav.navbar-inner
        .container
          .span4 &nbsp;
          .span4
            ComicBookApp by
            = link_to 'Reuben Mallaby', 'http://reuben.mallaby.me'
            2012
          .span4 &nbsp;
